body {
    background-color: aliceblue;
    font-family: 'Shadows Into Light', cursive;
    text-align:  center; 
}

h1 { 
    color: rgb(106, 123, 141);
}
.friend { 
    color: indianred;
}
h3 { 
    text-decoration: underline;
}
